export { __MODULE_PASCAL__List } from './components/__MODULE_PASCAL__List';
export { __MODULE_PASCAL__Form } from './components/__MODULE_PASCAL__Form';
export { __MODULE_CAMEL__Module } from './module.config';
